@using JQueryLinq
@model Commons.Customer

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section header{
    <script src="@Url.Content("~/Scripts/zPageGrid1.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/zPageGrid2.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/GridController5/zPage01.js")" type="text/javascript"></script>
}

<h2>Index - Page01</h2>

<p>
Knockout is used with LINQ for JavaScript (linq.js)
</p>

<br /><br />

<div> 
  <input id="button1" type="button" value="Load-Data" />&nbsp;
  <input id="button2" type="button" value="Find-1" />&nbsp;
  <input id="button3" type="button" value="Find-2" />&nbsp;
  <input id="button4" type="button" value="Find-3" />&nbsp;
</div>

<br /><br />

<div id="panel1">
  <table>
  <tr>
    <td colspan="4"> &nbsp; </td>
    <td data-sort="CustomerID"> CustomerID </td>
    <td data-sort="CompanyName"> CompanyName </td>
    <td data-sort="ContactName"> ContactName </td>
    <td data-sort="Address"> Address </td>
    <td data-sort="City"> City </td>
    <td data-sort="Country"> Country </td>
  </tr>
  <tbody id="result1" data-bind="template: {name: 'temp1', foreach: $data}"></tbody>
  </table>   
</div>

<div id="gdialog1" style="display:none;height:100px">
  <div id="jlist1" data-bind="template:'jdetailTemplate'"></div>
</div>

<div id="gdialog2" style="display:none;height:100px">
  <div id="jlist2" data-bind="template:'jmodifyTemplate'"></div> 
  <div>
    <a href="#" data-jupdateaction>Update</a>&nbsp;
    <a href="#" data-jcancelaction>Cancel</a>&nbsp;
  </div>
</div>

<script id="temp1" type="text/html">
  <tr class="pagingbase-ui-selected-ou"> 
    <td><a href="#" data-jcustomaction>Custom</a></td>
    <td><a href="#" data-jdeleteaction>Delete</a></td>
    <td><a href="#" data-jdetailaction>Detail</a></td>
    <td><a href="#" data-jmodifyaction>Modify</a></td>
    <td><span data-bind="text: CustomerID" /></td>
    <td><span data-bind="text: CompanyName" /></td>
    <td><span data-bind="text: ContactName" /></td>
    <td><span data-bind="text: Address" /></td>
    <td><span data-bind="text: City" /></td>
    <td><span data-bind="text: Country" /></td>
  <tr>
</script>

<script id="jmodifyTemplate" type="text/x-jquery-tmpl">
@using (Html.BeginForm()) {
<div>
  <p>
    <b>CustomerID: </b>@Html.KoTextBoxFor(model => model.CustomerID)<br>
    @Html.ValidationMessageFor(model => model.CustomerID)
  </p>
  <p>
    <b>CompanyName: </b>@Html.KoTextBoxFor(model => model.CompanyName)<br>
    @Html.ValidationMessageFor(model => model.CompanyName)
  </p>
  <p>
    <b>ContactName: </b>@Html.KoTextBoxFor(model => model.ContactName)<br>
    @Html.ValidationMessageFor(model => model.ContactName)
  </p>
  <p>
    <b>Address: </b>@Html.KoTextBoxFor(model => model.Address)
    @Html.ValidationMessageFor(model => model.Address)
  </p>
  <p>
    <b>City: </b>@Html.KoTextBoxFor(model => model.City)
    @Html.ValidationMessageFor(model => model.City)
  </p>
  <p>
    <b>Country: </b>@Html.KoTextBoxFor(model => model.Country)
    @Html.ValidationMessageFor(model => model.Country)
  </p>
</div>
}
</script>

<script id="jdetailTemplate" type="text/x-jquery-tmpl">
  <b>CustomerID: </b><span data-bind="text: CustomerID" /><br>
  <b>CompanyName: </b><span data-bind="text: CompanyName" /><br>
  <b>ContactName: </b><span data-bind="text: ContactName" /><br>
  <b>City: </b><span data-bind="text: City" /><br>
  <b>Country: </b><span data-bind="text: Country" /><br>
</script>
